DATABASE_URL=postgresql://user:password@localhost:5432/db_name?schema=SCHEMA
AUTH_SECRET=secret
AUTH_TRUST_HOST=true
DOMAIN=http://localhost:3000
NEXTAUTH_URL=http://localhost:3000


GOOGLE_CLIENT_ID=123
GOOGLE_CLIENT_SECRET=secret
GITHUB_CLIENT_ID=123
GITHUB_CLIENT_SECRET=secret
GITHUB_API_TOKEN=token
RESEND_API_KEY=api_key

TELEGRAM_BOT_TOKEN=token
TELEGRAM_MY_CONTACT_ID=123
CLOUDINARY_URL=cloudinary://my_key:my_secret@my_cloud_name

REDIS_USERNAME=default
REDIS_PASSWORD=123
REDIS_HOST=localhost
REDIS_PORT=1289