DATABASE_URL=postgresql://user:password@localhost:5432/db_name?schema=SCHEMA
AUTH_SECRET=""
AUTH_TRUST_HOST=true
DOMAIN=http://localhost:3000
NEXTAUTH_URL=http://localhost:3000


GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
GITHUB_CLIENT_ID=""
GITHUB_CLIENT_SECRET=""
GITHUB_API_TOKEN=""
RESEND_API_KEY=""

TELEGRAM_BOT_TOKEN=""
TELEGRAM_MY_CONTACT_ID=""